/* CUSTOM CSS */

.content {
  background-image: url('../images/ods.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #fff;
  text-align: center;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

/*VIDEO BACKGROUND*/
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
    top: 0;
    color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

/*END VIDEO BACKGROUND*/

/*IMAGE HOVER*/
.hoverImageContainer {
  position: relative;
}

.hoverImage {
  display: block;
  width: 100%;
  height: auto;
}

.hoverImageOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(100,100,100,0.8);
}

.hoverImageContainer:hover .hoverImageOverlay {
  opacity: 1;
}

.hoverImageText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/*END IMAGE HOVE*/

/* END CUSTOM CSS */

body {
  background-color: #edeff2;
  font-family: 'Open Sans', sans-serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #676770;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #676770;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #676770;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 12px 30px;
  border-radius: 7px;
  background-color: #fff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Poppins, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button.primary {
  background-color: #eeba31;
}

.button:hover {
  overflow: visible;
  background-color: #dbeeff;
  color: #eeba31;
}

.button.primary:hover {
  overflow: visible;
  background-color: #dbeeff;
  color: #eeba31;
}

.button.w--current {
  background-color: #2e80b6;
}

.navigation-link {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Poppins, sans-serif;
  color: #076b1a;
  font-weight: 400;
}

.navigation-link:hover {
  color: #006eb4;
}

.navigation-link.w--current {
  border-bottom: 6px solid #076b1a;
  font-family: Poppins, sans-serif;
  color: #076b1a;
}

.navigation-bar {
  background-color: #fff;
}

.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #076b1a;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 4px;
}

.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.section {
  position: relative;
  padding: 80px 10px;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
}

.section.even {
  background-color: rgba(200,200,200,0.8);  
}

.white-box {
  min-height: 320px;
  padding: 15px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.9);
  text-align: center;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}

.hero-section.centered {
  padding-top: 195px;
  padding-bottom: 195px;
  /*background-image: url('../images/happy.jpg');*/
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}


.hero-heading {
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 120px;
  line-height: 120px;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px #000;
}

.hero-subheading {
  margin-bottom: 60px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 37px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-heading.centered {
  font-family: Poppins, sans-serif;
  color: #076b1a;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section-subheading.center {
  font-family: Poppins, sans-serif;
  color: #076b1a;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-transform: none;
}

.section-subheading.center.even {
  color: #333;
}

.section-title-group {
  margin-bottom: 60px;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #383838;
}

.grid-image {
  display: block;
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border: 10px solid #fff;
  border-radius: 50%;
  background-color: #4d792e;
  box-shadow: 0 0 0 1px #4d792e;
}

.sub-hero-text {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5px;
}

.sub-hero-text.grey {
  color: #333;
}

.box-title {
  font-family: Poppins, sans-serif;
  color: #076b1a;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
}

.box-description {
  padding-right: 5px;
  padding-left: 0px;
  font-family: Poppins, sans-serif;
  color: #076b1a;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

.box-description.text-white {
  padding-left: 0px;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.box-description.text-white.foot {
  font-weight: 300;
}

.box-description.question-block {
  margin-bottom: 20px;
}

.box-description.blue {
  color: #076b1a;
}

.blue-section {
  padding-bottom: 30px;
  background-color: #eeba31;
}

.text-centered {
  text-align: center;
}

.footer-title {
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 30px;
  font-weight: 1000;
}

.button-primary {
  padding: 30px 40px;
  border-color: #2e9dff;
  border-radius: 7px;
  background-color: #eeba31;
  font-family: Poppins, sans-serif;
  color: #333;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 4px;
  text-decoration: none;
}

.button-primary:hover {
  background-color: #e2a62b;
}

.hero-cta {
  display: inline-block;
  margin-top: 30px;
}

.inscription-faq {
  font-family: Inconsolata, monospace;
  color: #076b1a;
  font-weight: 400;
  text-transform: uppercase;
}

.inscription-faq-section {
  padding-top: 30px;
  padding-bottom: 20px;
}

.question {
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
}

.disclaimer {
  margin-top: 30px;
  font-family: Poppins, sans-serif;
  color: #076b1a;
  font-size: 15px;
  text-align: left;
}

.link-grey {
  color: #69b9ff;
}

.hr {
  display: inline-block;
  width: 75%;
  height: 1px;
  margin-bottom: 20px;
  background-color: #668cad;
}

.powered {
  color: #4d792e;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: none;
}

.poppins-bold {
  font-weight: 600;
}

.hr-footer {
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.footer-logo {
  max-width: 200px;
  margin-bottom: 20px;
}

.powered-hero {
  margin-top: -20px;
  margin-bottom: 60px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1.4px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .86);
}

.agenda-aclaracion {
  margin-bottom: 20px;
  font-style: italic;
}

.typeform {
  height: 700px;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000001, 0.6000000000000001);
  -ms-transform: scale(0.6000000000000001, 0.6000000000000001);
  transform: scale(0.6000000000000001, 0.6000000000000001);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

@media (max-width: 991px) {
  .navigation-link {
    color: hsla(0, 0%, 100%, .52);
  }
  .navigation-link.w--current {
    color: #fff;
  }
  .hamburger-button.w--open {
    background-color: #3b99d9;
  }
  .navigation-menu {
    background-color: #3b99d9;
  }
  .hero-section.centered {
    padding-top: 144px;
    padding-bottom: 144px;
    background-attachment: fixed;
  }
  .grid-image {
    width: 50%;
    padding: 15px;
  }
}

@media (max-width: 767px) {
  .white-box {
    margin-bottom: 30px;
  }
  .hero-section.centered {
    padding-top: 119px;
    padding-bottom: 119px;
    background-position: 50% 50%;
  }
  .hero-heading {
    margin-bottom: 15px;
    font-size: 50px;
  }
  .hero-subheading {
    font-size: 18px;
  }
  .grid-image {
    width: 20%;
    padding: 20px;
  }
  .spc {
    margin-bottom: 30px;
  }
}

@media (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }
  .hero-section.centered {
    padding-top: 60px;
    padding-bottom: 60px;
    background-position: 0px -200px;
  }
  .hero-heading {
    font-size: 40px;
    text-shadow: 0 2px 2px #000;
  }
  .hero-subheading {
    font-size: 21px;
    text-shadow: 0 2px 2px #000;
  }
  .section-subheading.center {
    line-height: 30px;
  }
  .grid-image {
    width: 35%;
  }
  .powered {
    display: none;
  }
  .powered-hero {
    font-size: 16px;
    text-shadow: 0 2px 2px #000;
  }
}

